## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avera,US,33.1940,-82.5271,65.71,25,0,21.14,clear sky
1,1,Bluff,NZ,-46.6000,168.3333,55.18,81,44,2.26,scattered clouds
2,2,Brae,GB,60.3964,-1.3530,46.98,90,100,12.50,overcast clouds
3,3,Sioux Lookout,CA,50.1001,-91.9170,10.47,56,75,18.41,broken clouds
4,4,Albany,US,42.6001,-73.9662,47.88,79,100,7.02,moderate rain

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Rafaela,AR,-31.2503,-61.4867,77.99,38,0,1.99,clear sky
8,8,Mahebourg,MU,-20.4081,57.7000,80.89,83,40,5.75,scattered clouds
13,13,Butaritari,KI,3.0707,172.7902,80.91,73,100,13.71,overcast clouds
19,19,Floriano,BR,-6.7669,-43.0225,88.75,59,19,4.14,few clouds
21,21,Vaini,TO,-21.2000,-175.2000,75.36,83,40,5.75,scattered clouds
25,25,Martapura,ID,-3.4167,114.8500,77.09,94,75,1.14,broken clouds
26,26,Indramayu,ID,-6.3264,108.3200,78.01,85,100,7.11,overcast clouds
27,27,Saint George,US,37.1041,-113.5841,82.63,15,0,3.44,clear sky
30,30,Puerto Ayora,EC,-0.7393,-90.3518,80.56,74,53,9.95,light rain
32,32,Rikitea,PF,-23.1203,-134.9692,79.30,72,4,12.50,clear sky

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Rafaela,AR,-31.2503,-61.4867,77.99,38,0,1.99,clear sky
8,8,Mahebourg,MU,-20.4081,57.7000,80.89,83,40,5.75,scattered clouds
13,13,Butaritari,KI,3.0707,172.7902,80.91,73,100,13.71,overcast clouds
19,19,Floriano,BR,-6.7669,-43.0225,88.75,59,19,4.14,few clouds
21,21,Vaini,TO,-21.2000,-175.2000,75.36,83,40,5.75,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
638,638,Pakxan,LA,18.3778,103.6601,77.07,75,42,3.42,scattered clouds
641,641,Santo Antonio Do Ica,BR,-3.1022,-67.9397,78.24,96,100,1.63,overcast clouds
642,642,Reconquista,AR,-29.1500,-59.6500,77.70,46,0,6.78,clear sky
647,647,Bonthe,SL,7.5264,-12.5050,79.56,82,100,9.40,overcast clouds
656,656,Yambio,SS,4.5721,28.3955,77.86,46,84,3.94,broken clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Rafaela,AR,77.99,clear sky,-31.2503,-61.4867,
8,Mahebourg,MU,80.89,scattered clouds,-20.4081,57.7000,
13,Butaritari,KI,80.91,overcast clouds,3.0707,172.7902,
19,Floriano,BR,88.75,few clouds,-6.7669,-43.0225,
21,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,
25,Martapura,ID,77.09,broken clouds,-3.4167,114.8500,
26,Indramayu,ID,78.01,overcast clouds,-6.3264,108.3200,
27,Saint George,US,82.63,clear sky,37.1041,-113.5841,
30,Puerto Ayora,EC,80.56,light rain,-0.7393,-90.3518,
32,Rikitea,PF,79.30,clear sky,-23.1203,-134.9692,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
  
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Rafaela,AR,77.99,clear sky,-31.2503,-61.4867,Parra Hotel & Suites
8,Mahebourg,MU,80.89,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
13,Butaritari,KI,80.91,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
19,Floriano,BR,88.75,few clouds,-6.7669,-43.0225,Hotel Maktub
21,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
25,Martapura,ID,77.09,broken clouds,-3.4167,114.8500,Montana Hotel Syariah
26,Indramayu,ID,78.01,overcast clouds,-6.3264,108.3200,Grand Trisula Hotel
27,Saint George,US,82.63,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
30,Puerto Ayora,EC,80.56,light rain,-0.7393,-90.3518,Finch Bay Galapagos Hotel
32,Rikitea,PF,79.30,clear sky,-23.1203,-134.9692,People ThankYou

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "weather_data/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Descriptio</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))